@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    url('./Raleway-Regular.woff2') format('woff2'),
    url('./Raleway-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('./Raleway-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src:
    url('./Raleway-Bold.woff2') format('woff2'),
    url('./Raleway-Bold.woff') format('woff');
  font-display: swap;
}
